<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.recruit.dao.HrMenuMapper" >
  <resultMap id="BaseResultMap" type="com.system.recruit.entity.HrMenu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sign" property="sign" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.system.recruit.entity.HrMenu" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="RoleMenuMap" type="com.system.recruit.entity.info.GetRoleMenuResp" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, url, parent_id, sort , icon ,type,sign
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="getMenuListByRoleId" resultType="com.system.recruit.entity.HrMenu" parameterType="integer">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" /> from hr_role_menu a , hr_menu b where a.meun_id = b.menu_id and a.role_id = #{roleId,jdbcType=INTEGER} order By b.sort
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hr_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>

  <select id="selectRoleMenuByKey" resultMap="RoleMenuMap" parameterType="java.lang.Integer" >
    select
    menu_id, menu_name, parent_id
    from hr_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>

  <select id="selectByParentId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hr_menu where parent_id = #{parentId,jdbcType=INTEGER} order By sort
  </select>

  <select id="selectAllMenu" resultMap="ResultMapWithBLOBs" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hr_menu order By sort
  </select>

  <select id="selectAllRoleMenu" resultMap="RoleMenuMap" >
    select
    menu_id, menu_name, parent_id
    from hr_menu order By sort
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hr_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByKeyList" parameterType="java.util.List" >
    delete from hr_menu
    where menu_id in
    <foreach collection="list"  item="item" open="(" separator="," close=")"  >
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.system.recruit.entity.HrMenu" >
    insert into hr_menu (menu_id, menu_name, url,
      parent_id, sort, remark , icon ,type ,sign
      )
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      #{parentId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=LONGVARCHAR}, #{icon,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},'0'
      )
  </insert>
  <insert id="insertSelective" parameterType="com.system.recruit.entity.HrMenu" >
    insert into hr_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="type != null" >
        type,
      </if>
      sign,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      '0',
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.recruit.entity.HrMenu" >
    update hr_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      sign='0'
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.system.recruit.entity.HrMenu" >
    update hr_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR},
      sign = '0'
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.recruit.entity.HrMenu" >
    update hr_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>
